pkgbase = shaula-bin
	pkgdesc = Wayland screenshot tool for Niri (prebuilt binary)
	pkgver = 0.1.5
	pkgrel = 1
	url = https://github.com/fgonzalezurriola/shaula
	install = shaula.install
	arch = x86_64
	license = MIT
	depends = cairo
	depends = gdk-pixbuf2
	depends = glibc
	depends = grim
	depends = gtk4
	depends = gtk4-layer-shell
	depends = hicolor-icon-theme
	depends = wayland
	depends = wl-clipboard
	optdepends = niri: primary supported compositor and setup integration
	optdepends = quickshell: Noctalia Shell integration
	optdepends = ttf-geist: recommended UI font
	optdepends = ttf-excalifont: recommended annotation font
	provides = shaula
	conflicts = shaula
	source = LICENSE::https://github.com/fgonzalezurriola/shaula/raw/v0.1.5/LICENSE
	sha256sums = 51100d4e517c591b0c6fa0bf94f10b86d7309736a46a23d53b0c85bf4c86966a
	source_x86_64 = shaula-bin-0.1.5-x86_64.tar.gz::https://github.com/fgonzalezurriola/shaula/releases/download/v0.1.5/shaula-linux-x86_64.tar.gz
	sha256sums_x86_64 = 598c04b65ec31f44925db1b339c94638d171344cbe4a8ba17d2b76530f71a277

pkgname = shaula-bin
