---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Features from "../components/features.astro";
import OpenSource from "../components/open-source.astro";
---

<Layout title="Shaula — A Wayland-first screenshot tool for Niri">
  <main>
    <Hero />
    <Features />
    <OpenSource />
  </main>
</Layout>
