---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Demo from "../components/demo.astro";
import OpenSource from "../components/open-source.astro";
---

<Layout title="Shaula">
  <main>
    <Hero />
    <Demo />
    <OpenSource />
  </main>
</Layout>
